// global style variables

// * theme color
$primary-color: #3bb7e5;
$primary-background-color: #f3efe0;
// $primary-background-color: #f9f5eb;

// * line color
$primary-line-color: #9ed1e4;
$light-line-color: #666666;
$dark-line-color: #333333;

// * often used style
@mixin flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// * tip - 사용할 때:
// variable:
// @use "../variables" as v;
// v.$primary-color

// mixin:
// @include v.flex-box-center
